# Игнорировать каталоги с виртуальным окружением, кэшем и настройками IDE
venv/
.vscode/
.aw-cache/
__pycache__/

# Игнорировать файлы с данными и логи
data/
log/
*.json
*.log

# Игнорировать файлы окружения (содержащие секреты)
.env

# Игнорировать резервные копии файлов
*-backup.py